{% extends "layouts/homepage.html" %}

{% set selectedNav = "Standards" %}
{% set pageName = "Publish and maintain an accurate accessibility statement" %}
{% set pageDescription = "" %}


{% block hero %}
<div class="dfe-page-header dfe-page-header--with-sub-nav">
    <div class="govuk-width-container dfe-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl govuk-!-margin-bottom-3 govuk-!-padding-top-5">{{pageName}}</h1>
            </div>
            <div class="govuk-grid-column-full">
                <table class="govuk-table  govuk-!-margin-bottom-3">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="col">Reference</th>
                            <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Group</th>
                            <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Owner</th>
                            <th class="govuk-table__header" scope="col">Last updated</th>
                            <th class="govuk-table__header" scope="col">Watch list</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">DDTS88</strong></td>
                            <td class="govuk-table__cell">Accessibility</td>
                            <td class="govuk-table__cell">Andy Jones</td>
                            <td class="govuk-table__cell">18 June 2024</td>
                            <td class="govuk-table__cell"><a href="">Remove</a></td>
                        </tr>
                    </tbody>
                </table>

                <nav class="app-sub-navigation" aria-label="Application menu">
                    <ul class="app-sub-navigation__list">
                        <li class="app-sub-navigation__item">
                            <a class="app-sub-navigation__link" aria-current="page" href="/ddts88">Standard</a>
                        </li>
                        <li class="app-sub-navigation__item">
                            <a class="app-sub-navigation__link" href="/ddts88-application">Meeting the standard</a>
                        </li>
                        <li class="app-sub-navigation__item">
                            <a class="app-sub-navigation__link" href="/ddts88-history">History</a>
                        </li>


                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="govuk-width-container">

    <div class="govuk-grid-row">


        <div class="govuk-grid-column-two-thirds">

            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                  <span class="govuk-visually-hidden">Warning</span>
                  You are at risk of breaking the law if you fail to meet this standard.
                </strong>
              </div>

         

            <h2 class="govuk-heading-l">Description</h2>
            <p class="govuk-body">This standard is within the Accessibility group of standards. It applies to all
                websites and mobile applications from the department. This standard should be understood and applied by
                anyone delivering such products and services, especially those in user-centred design, product and
                delivery, and service owners.</p>
   <h2 class="govuk-heading-m">Alternative terms</h2>
            <p class="govuk-body">Accessibility statements, Statements, Product statement, Product accessibility
                declaration.</p>
            <h2 class="govuk-heading-m">Definitions</h2>

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Website
                  </dt>
                  <dd class="govuk-summary-list__value">
                    The legal definition of something accessed through a
                browser. For this standard, this also means any digital product or service.
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        App or application
                    </dt>
                    <dd class="govuk-summary-list__value">
                        A native app which can be installed onto a
                        device through Apple or Google App Stores
                    </dd>
                  </div>
            </dl>
          
            <h2 class="govuk-heading-m">Rationale</h2>
            <p class="govuk-body">Not all DfE’s websites have an accurate accessibility statement and those that do,
                don’t often declare the correct level of conformance, don’t always contain the legally required wording,
                and don’t always list all known accessibility issues. This means end users may struggle to get the
                support or information they need if they face an issue using the website.</p>
            <p class="govuk-body">This supports the legal requirement for websites and applications to publish a
                factually accurate accessibility statement as outlined by the Public Sector Websites and Applications
                Accessibility Regulations 2018.</p>
            <p class="govuk-body">This specific standard ensures it is applied, assured and monitored effectively in
                DfE.</p>

             

            <h2 class="govuk-heading-m">Approved products and services</h2>
            <p class="govuk-body">Service owners must ensure the statement is accurate and uses the correct template for
                the determined level of conformance as published in the Accessibility manual.</p>

            <h2 class="govuk-heading-m">Tolerated products and services</h2>
            <p class="govuk-body">Not applicable to this standard.</p>

            <h2 class="govuk-heading-m">Known exceptions</h2>
            <p class="govuk-body">For websites there are no applicable exceptions.</p>
            <p class="govuk-body">For mobile apps (applications) the statement must be available at the location where
                the app can be downloaded from, this could be a webpage with a link to the app store, and, a link on the
                app store additional information links. It does not need to be made available in the application itself.
                If there is opportunity to link out to the statement within the app from a common place, for example a
                menu or app footer, this should be implemented.</p>
            <p class="govuk-body">For PowerApps the statement must be made available at the location the app is
                accessed, for example, an intranet page. If there is opportunity to link out to the statement within the
                app from a common place, for example a header, footer, or menu, this should be implemented.</p>

            <h2 class="govuk-heading-m">Standard owner</h2>
            <p class="govuk-body">Charlotte Briscall – Senior Responsible Officer (SRO) for Accessibility</p>

            <h2 class="govuk-heading-m">Technical point of contact</h2>
            <p class="govuk-body">Andy Jones – Head of Profession for Design and Content, and DesignOps Lead</p>

        
            <table class="govuk-table govuk-!-margin-top-9">
                <caption class="govuk-table__caption govuk-table__caption--m">Other standards in this group</caption>
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Standard</th>
                    <th scope="col" class="govuk-table__header">Reference</th>
                    <th scope="col" class="govuk-table__header">Last update</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header"><a href="/ddts88">Publish and maintain an accurate accessibility statement</a></th>
                    <td class="govuk-table__cell">DDTS88</td>
                    <td class="govuk-table__cell">18 Jun 2024</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header"><a href="/ddts88">Report and manage accessibility issues</a></th>
                    <td class="govuk-table__cell">DDTS89</td>
                    <td class="govuk-table__cell">18 Jun 2024</td>
                  </tr>
                </tbody>
              </table>


        </div>
        <div class="govuk-grid-column-one-third">

          

            <h2 class="govuk-heading-m">Related guidance</h2>

            <ul class="govuk-list govuk-list--spaced">
                <li><a href="">Accessibility manual</a></li>
            </ul>


        </div>
    </div>
</div>

<style>
    .custom-standard-meta {
        list-style-type: none;
        padding: 0;
        margin-bottom: 10px;
    }



    .custom-standard-meta li {
        display: inline;
        margin-right: 1em;
        font-size: 0.85em;
    }

    .custom-standard-meta li span {
        font-weight: bold;
    }
</style>

{% endblock %}