{% extends "layouts/homepage.html" %}

{% set selectedNav = "Home" %}
{% set pageName = "Homepage" %}

{% block hero %}
  <section class="dfe-hero">
    <div class="dfe-width-container ">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

          <h1 class="govuk-heading-xl">Department for Education<br/>{{serviceName}}</h1>

          <p class="govuk-body-l">The standards to which we deliver good services in the Department for Education.</p>
        </div>
      </div>
    </div>

  </section>

{% endblock %}

{% block content %}

  <section class="govuk-!-margin-bottom-9">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="dfe-o-banner dfe-o-banner--mirrored govuk-!-margin-top-2">
          <div class="dfe-o-banner__content-container dfe-light-grey">
            <div class="dfe-o-banner__inner-content-container">
              <h2 class="govuk-heading-l">How to apply <br/>the Service Standard</h2>
              <p>We’ve built a companion service to the <br/>Government Service Standard.</p>
              <p>This service helps teams follow standards to build accessible, usable, safe, secure, and trusted services.</p>
              <a href="https://apply-the-service-standard.education.gov.uk/" target="_blank" class="govuk-link govuk-body-l govuk-!-font-weight-bold">View the service</a>
            </div>
          </div>
          <div class="dfe-o-banner__image-container">
            <figure class="dfe-a-image dfe-a-image--cover">
              <picture class="dfe-a-image__picture">
                <source srcset="/assets/images/assidfe.webp" type="image/webp">
                <img src="/assets/images/assidfe.png" alt="">
              </picture>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="govuk-!-margin-bottom-9">

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-three-quarters">

        <div class="dfe-grid-container">
          <div class="dfe-card">
            <div class="dfe-card-container">
              <h2 class="govuk-heading-m">
                <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="https://dfe-digital.github.io/architecture/#standards" target="_blank">Architecture</a>
              </h2>
              <p>Architecture principles, standards and guidance.</p>
            </div>
          </div>
          <div class="dfe-card">
            <div class="dfe-card-container">
              <h2 class="govuk-heading-m">
                <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="https://design.education.gov.uk" target="_blank">Design</a>
              </h2>
              <p>Standards for interaction and content designers.</p>
            </div>
          </div>
          <div class="dfe-card">
            <div class="dfe-card-container">
              <h2 class="govuk-heading-m">
                <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="https://technical-guidance.education.gov.uk" target="_blank">Technical</a>
              </h2>
              <p>Coding technical standards and guidelines we follow when building services.</p>
            </div>
          </div>
          <div class="dfe-card">
            <div class="dfe-card-container">
              <h2 class="govuk-heading-m">
                <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="https://user-research.education.gov.uk" target="_blank">User Research </a>
              </h2>
              <p>Guidance, information and support for user researchers.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="govuk-grid-column-one-quarter">
        <div class="dfe-related-content">
          <h2 class="govuk-heading-m">Additional guidance</h2>
          <ul class="govuk-list govuk-list--spaced">
            <li>
              <a href="https://www.gov.uk/guidance/the-technology-code-of-practice" target="_blank" class="govuk-link">Technology Code of Practice</a>
            </li>
            <li>
              <a href="https://www.gov.uk/government/publications/cabinet-office-controls/cabinet-office-controls-guidance-version-40" target="_blank" class="govuk-link">Cabinet Office digital spend control</a>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="govuk-!-margin-bottom-9">

      <div class="dfe-panel-section">

        <div class="govuk-grid-row">

          <div class="govuk-grid-column-full">

            <h2 class="govuk-heading-l">Service assurance</h2>

          </div>

          <div class="govuk-grid-column-two-thirds">

            <p>Assurance is an important part of delivering services.</p>
            <p>Our guidance helps you understand what assurance you need to de-risk your service and ensure you're building things the right way.</p>

          </div>

          <div class="govuk-grid-column-one-third">

            <ul class="govuk-list govuk-list--spaced">
              <li>
                <a href="https://apply-the-service-standard.education.gov.uk/service-assessments" target="_blank" class="govuk-link govuk-link--inverse govuk-!-font-weight-bold">Service assessments</a>
              </li>
            </ul>

          </div>
        </div>

      </div>

    </section>

  {% endblock %}